.category-filter {
    @extend %mb-40;

    &__wrapper {
        @extend %flex,
        %justify-between,
        %align-items-center;
        background-color: $white-color;
        padding: .75rem;
        border: 1px solid rgba($theme-color, $alpha: .20);
        border-radius: .75rem;
        gap: 1rem;
    }

    &__btn {
        @extend %d-inline-block,
        %text-center;
        @include font-size(18px);
        font-weight: 600;
        padding: 1rem 1.5rem;
        background-color: $body-color;
        border-radius: .5rem;
        flex-grow: 1;

        &.active {
            background-color: $theme-color;
            color: $white-color;
        }
    }
}

.nav-tabs {
    border-color: $theme-color;

    .nav-link {
        color: $text-color;
        padding: .75rem 1rem;
        font-weight: 600;
    }
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    border-color: $theme-color $theme-color transparent;
    color: $theme-color;
    background-color: $body-color;

    &:hover {
        border-color: $theme-color $theme-color transparent;
    }
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link:hover {
    border-color: transparent;
}

//default input field style (overrides some bootstrap css)
.form-control {
    background-color: transparent;
    border-color: rgba($theme-color, $alpha: .20);
    padding: 1rem 1.5rem;

    &:focus {
        box-shadow: none;
        border-color: $theme-color;
    }
}

.form-check {

    &-input {
        &:focus {
            box-shadow: none;
        }

        &:checked {
            background-color: $theme-color;
            border-color: $theme-color;
        }
    }

    &-label {
        color: $text-color !important;
    }
}


// default accordion button icon style
.accordion-button {
    &:after {
        background-image: none;
        content: "\f0dd";
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
    }

    &:not(.collapsed) {
        &:after {
            background-image: none;
            content: "\f0dd";
            font-family: "Font Awesome 6 Free";
            font-weight: 900;
        }
    }
}


// scrollTop
.scrollToTop {
    @include add-prefix(transition, $transition);
    position: fixed;
    bottom: -20%;
    right: 5%;
    z-index: 9;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: $primary-color;
    text-align: center;
    border-radius: 5px;
    color: $body-color;
    border: 1px solid transparent;

    &:hover {
        @include add-prefix(transform, translateY(-5px));
    }
}

// button
.primaryBtn {
    background: $primary-color;
    color: $white-color;
    text-align: center;
    letter-spacing: 0.02em;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
}